{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Enter A New Destination!</h2>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="{{ url_for('update_post', post_id = p.id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label for="title">Title</label>
          {{ form.title(class="form-control", placeholder="Enter title") }}
          {% if form.title.errors %}
            <div class="alert alert-danger">
              {% for error in form.title.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="img_url">Image URL</label>
          {{ form.img_url(class="form-control", placeholder="Enter image URL") }}
          {% if form.img_url.errors %}
            <div class="alert alert-danger">
              {% for error in form.img_url.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          {{ form.description(class="form-control", placeholder="What is your pin about?") }}
          {% if form.description.errors %}
            <div class="alert alert-danger">
              {% for error in form.description.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
